.sousentete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choisir{
    display: flex;
    gap: 10px;
}

.choix{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: hsl(226, 11%, 37%);
}

.actif{
    background-color: hsl(3, 77%, 44%);
}

